<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pagina_Inicial.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Daniel Marcelino - Portfólio</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            width: 100%;
            position: relative;
        }
        
        body {
            background-image: url("{{ url_for('static', filename='imagens/fundobody.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #000;
            z-index: -1;
        }

        .content-box {
            position: relative;
            z-index: 1;
        }
    </style>
</head>
<body>
    <header class="header-container">
        <div class="logo" data-aos="fade-right">
            <img src="https://i.im.ge/2024/08/22/f9YIYm.Design-sem-nome-2.png" alt="Foto de Daniel Marcelino" />
            <span>DANIEL MARCELINO</span>
        </div>
        <nav data-aos="fade-left">
            <a href="/" class="nav-link">Sobre Mim</a>
            <a href="/experiencia" class="nav-link">Experiência</a>
            <a href="/habilidades" class="nav-link">Habilidades</a>
            <a href="/contato" class="nav-link">Contato</a>
        </nav>
    </header>

    <main class="content">
        <div class="content-box">
            <img src="https://i.im.ge/2024/08/27/fydkB1.Daniel-Marcelino-1.png" alt="Foto banner" class="img-banner" data-aos="zoom-in"/>
            
            <section data-aos="fade-up">
                <h2 class="section-title">Olá, sou Daniel Marcelino!</h2>
                <p class="section-text">Sou Daniel Marcelino Muniz de Freitas, estudante de Bacharelado em Sistemas de Informação no IFCE - Campus Crato (2023-2027), com interesse em desenvolvimento de software, banco de dados.
                    Minha trajetória acadêmica começou com o curso Técnico em Mecânica Industrial (2019-2021), no qual realizei um estágio supervisionado na Betânia Lácteos. Essa experiência me proporcionou uma visão prática do setor industrial e aprimorou minhas habilidades analíticas e de resolução de problemas.
                   Atualmente, busco oportunidades para aplicar meus conhecimentos em tecnologia, contribuir para projetos inovadores e expandir minha experiência profissional.
                 📩 Aberto a conexões e novas oportunidades!</p>
            </section>

            <section data-aos="fade-up">
                <h3 class="section-subtitle">Formação Acadêmica</h3>
                <div class="education-cards">
                    <div class="education-card">
                        <i class="fas fa-graduation-cap"></i>
                        <p>Técnico em Mecânica Industrial (2019-2021)</p>
                    </div>
                    <div class="education-card">
                        <i class="fas fa-laptop-code"></i>
                        <p>Estudante em Bacharel de Sistemas de Informação(2022-202X)</p>
                    </div>
                </div>
            </section>  

            <section data-aos="fade-up">
                <h3 class="section-subtitle">Certificações</h3>
                <div class="certificados">
                    <div class="certificado-item" data-aos="flip-left">
                        <p>Téc. Mecânica Industrial (2019-2021)</p>
                        <img src="https://img.freepik.com/vetores-gratis/certificado-de-luxo-gradiente-dourado_52683-70557.jpg" alt="Certificado Mecânica" class="img-media">
                    </div>
                    <div class="certificado-item" data-aos="flip-left" data-aos-delay="100">
                        <p>Curso de Python (2022)</p>
                        <img src="https://i.ibb.co/tpgHJpBs/Python1.jpg" alt="Certificado Curso Python" class="img-media">
                    </div>
                    <div class="certificado-item" data-aos="flip-left" data-aos-delay="200">
                        <p>Curso de Python (2025)</p>
                        <img src="https://i.ibb.co/tpgHJpBs/Python1.jpg" alt="Certificado Curso Python" class="img-media">
                    </div>
                    <div class="certificado-item" data-aos="flip-left" data-aos-delay="300">
                        <p>Curso de Ingles basico (2025)</p>
                        <img src="https://i.ibb.co/tpgHJpBs/Python1.jpg" alt="Certificado Curso Python" class="img-media">
                    </div>
                </div>
            </section>

            <section data-aos="fade-up">
                <h2 class="section-title">Experiências</h2>
                <div class="projeto">
                    <h3 class="project-title">Projeto EcoGame</h3>
                    <p class="project-description">Esse projeto foi para a cadeira de APII, teve que desenvolver um projeto usando python, e resolvi usar a
                        biblioteca pygame para criar um jogo, segue abaixo as fotos:</p>
                    
                    <div class="carousel-container" id="carousel-ecogame">
                        <div class="carousel-images">
                            <img src="https://i.im.ge/2024/08/18/fUhUhY.foto01.png" alt="EcoGame Foto 1">
                            <img src="https://i.ibb.co/PGBbjKcp/ecogame2.png" alt="EcoGame Foto 2">
                            <img src="https://i.ibb.co/Z6z3L3xn/ecogame3.png" alt="EcoGame Foto 3">
                            <img src="https://i.ibb.co/vCGJbjCH/ecogame4.png" alt="EcoGame Foto 4">
                        </div>
                        <div class="carousel-controls">
                            <button id="prevBtn" class="carousel-btn"><i class="fas fa-chevron-left"></i></button>
                            <button id="nextBtn" class="carousel-btn"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </section>

            <section data-aos="fade-up">
                <div class="projeto">
                    <h3 class="project-title">Projeto Jogo da Memória</h3>
                    <p class="project-description">Esse projeto foi realizado em POOII, no qual tive que buscar conhecimentos em Java para realizar um jogo
                        da memoria, no qual se eu errase exibisse uma tela falando que o jogo vai ser reiniciado.</p>
                    
                    <div class="carousel-container" id="carousel-memoria">
                        <div class="carousel-images">
                             <img src="https://i.ibb.co/DD4XP7t0/Captura-de-tela-2025-04-17-122656.png" alt="Jogo da Memória Foto 1">
                             <img src="https://i.ibb.co/HDNssLbZ/Captura-de-tela-2025-04-17-122801.png" alt="Jogo da Memória Foto 2">
                             <img src="https://i.ibb.co/1Ykw8V6P/Captura-de-tela-2025-04-17-123006.png" alt="Jogo da Memória Foto 3">
                        </div>
                        <div class="carousel-controls">
                             <button id="prevBtnMemoria" class="carousel-btn"><i class="fas fa-chevron-left"></i></button>
                             <button id="nextBtnMemoria" class="carousel-btn"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </section>

            <section data-aos="fade-up">
                <h2 class="section-title">Contatos</h2>
                <p class="contact-text">Se você deseja entrar em contato comigo, pode me enviar um e-mail para: 
                    <a href="mailto:Dev.DanielMarcelino@gmail.com" class="email-link">Dev.DanielMarcelino@gmail.com</a>
                </p>

                <div class="social-links">
                    <a href="mailto:Dev.DanielMarcelino@gmail.com" target="_blank" class="social-link" data-aos="zoom-in">
                        <i class="fas fa-envelope"></i> Gmail
                    </a>
                    <a href="https://www.instagram.com/daniel_mmf" target="_blank" class="social-link" data-aos="zoom-in" data-aos-delay="100">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a href="https://www.linkedin.com/feed/" target="_blank" class="social-link" data-aos="zoom-in" data-aos-delay="200">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/seu_usuario_no_github" target="_blank" class="social-link" data-aos="zoom-in" data-aos-delay="300">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </section>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        // Inicializa AOS
        AOS.init({
            duration: 1000,
            once: true
        });

        // Script do Carousel EcoGame
        const carouselEcoGame = document.getElementById('carousel-ecogame');
        const imagesEcoGame = carouselEcoGame.querySelector('.carousel-images');
        const totalImagesEcoGame = imagesEcoGame.querySelectorAll('img').length;
        let currentIndexEcoGame = 0;

        carouselEcoGame.querySelector('#prevBtn').addEventListener('click', () => {
            currentIndexEcoGame = (currentIndexEcoGame - 1 + totalImagesEcoGame) % totalImagesEcoGame;
            imagesEcoGame.style.transform = `translateX(-${currentIndexEcoGame * 100}%)`;
        });

        carouselEcoGame.querySelector('#nextBtn').addEventListener('click', () => {
            currentIndexEcoGame = (currentIndexEcoGame + 1) % totalImagesEcoGame;
            imagesEcoGame.style.transform = `translateX(-${currentIndexEcoGame * 100}%)`;
        });

        // Script do Carousel Jogo da Memória
        const carouselMemoria = document.getElementById('carousel-memoria');
        const imagesMemoria = carouselMemoria.querySelector('.carousel-images');
        const totalImagesMemoria = imagesMemoria.querySelectorAll('img').length;
        let currentIndexMemoria = 0;

        document.getElementById('prevBtnMemoria').addEventListener('click', () => {
            currentIndexMemoria = (currentIndexMemoria - 1 + totalImagesMemoria) % totalImagesMemoria;
            imagesMemoria.style.transform = `translateX(-${currentIndexMemoria * 100}%)`;
        });

        document.getElementById('nextBtnMemoria').addEventListener('click', () => {
            currentIndexMemoria = (currentIndexMemoria + 1) % totalImagesMemoria;
            imagesMemoria.style.transform = `translateX(-${currentIndexMemoria * 100}%)`;
        });

        // Script para Modal de Imagem dos Certificados
        var modal = document.getElementById("imageModal");
        var modalImg = document.getElementById("modal-img");
        var captionText = document.getElementById("caption");
        var certificadosContainer = document.querySelector('.certificados');

        if (certificadosContainer) {
            certificadosContainer.addEventListener('click', function(event) {
                if (event.target.matches('.certificado-item .img-media')) {
                    var clickedImage = event.target;
                    modal.style.display = "block";
                    modalImg.src = clickedImage.src;
                    captionText.innerHTML = clickedImage.alt;
                }
            });
        }

        var span = document.getElementsByClassName("close")[0];

        if (span) {
            span.onclick = function() {
                modal.style.display = "none";
            }
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
        <div id="caption"></div>
    </div>

</body>
</html>
